.venv*
venv*
.env
.env.osnet
.env.yolo
__pycache__/
*.py[cod]

src/infrastructure/dataset/yolo/images/*
src/infrastructure/dataset/yolo/labels/*
src/infrastructure/dataset/osnet/images/*
src/infrastructure/dataset/osnet/labels/*
runs/
deep-person-reid/
*.rar
*.zip
*.tar.gz
yolo11n.pt
.issort.cfg
