.venv*
venv*
.env
.env.osnet
.env.yolo
__pycache__/
*.py[cod]

src/dataset/yolo/images/*
src/dataset/yolo/labels/*
src/dataset/osnet/images/*
src/dataset/osnet/labels/*
runs/
logs/
deep-person-reid/

*.rar
*.zip
*.tar.gz
